header {
    background: #282B2E;
}

.hat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 0px;

    ul {
        display: flex;

        li {
            margin-right: 25px;
            color: $mainGrey;
            font-size: 14px;
            border-bottom: 1px solid transparent;
            transition: 0.5s ease;

            &:hover {
                border-bottom: 1px solid $mainOrange;
            }
        }
    }

    .hat__search img {
        cursor: pointer;
    }

    .hat__hamburger {
        display: none;
        font-size: 20px;
    }
}