@import 'zerostyle.scss';

$mainBlack:#1E2124;
$mainGrey: #BFC0C1;
$mainOrange: #DCA74A;

body {
    font-family: 'Ubuntu', sans-serif;
    background: $mainBlack;
    color: $mainGrey;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'hat.scss';
@import 'mainContent.scss';
@import 'footer.scss';
@import 'media.scss';